<main class="main">
  <div class="inner">
  <div class="box15">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <h1 class=show><%= @recipe.title %></h1>
      <%# <%= link_to "by プロトタイプの投稿者", root_path, class: :prototype__user %> 
      <% if user_signed_in? && current_user.id == @recipe.user_id%>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_recipe_path(@recipe), class: :prototype__btn %>
          <%= link_to "削除する", recipe_path(@recipe), class: :prototype__btn, method: :delete %>
        </div>
      <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
       <div class="box">
         <div class="box-img">
      <div class="prototype__image">
        <%= image_tag @recipe.image %>
      </div>
         </div>
     <div class="box-text">
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">カテゴリー：</p>
          <p class="detail__message">
            <%= link_to @recipe.genre.name, "/recipes/genre/#{@recipe.genre_id}",class: :card__summary%>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">レシピURL：
          <p class="detail__message">
          <div class="url_rinku">
            <%= raw Rinku.auto_link(h(@recipe.url)) %>
          </div>
        </p>
        </div>
       <% if user_signed_in? && current_user.id == @recipe.user_id %>
        <div class="prototype__detail">
          <p class="detail__title">ポイント：</p>
          <p class="detail__message">
            <%= @recipe.point %>
       <% end %>
          </p>
         </div>
        </div>
       </div>
      </div>
      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? && current_user.id == @recipe.user_id %>
          <%= form_with model: [@recipe, @memo], local: true do |f| %>
            <div class="field">
              <%= f.label :text, "memo" %><br/>
              <%= f.text_field :text, placeholder: "メモする", class: :memo_text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn %>
            </div>
          <% end %>
        <ul class="comments_lists">
          <% if @memos %>
          <% @memos.each do |memo| %>
            <li class="comments_list">
              <%= memo.text %>
              <%= link_to "削除する",  recipe_memo_path(memo.recipe.id, memo.id), class: :comment_derete__btn, method: :delete %>
            </li>
            <% end %>
           <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
