<div class="main">
  <div class="inner">

      <h2 class="show">
        <%= @name %>さんのいいね！一覧</h2>
            <div class="user__wrapper2"> 
        <% @likes.each do |like| %>
  <% recipe = Recipe.find_by(id: like.recipe_id) %>
  <% user = User.find_by(id: recipe.user_id) %>
<div class="card">
  <div class="sample_box11">
<div class="sample_box11_tape"> </div>
<p class="sample_box11_title"><%= link_to image_tag(recipe.image, class: :card__img ), recipe_path(recipe.id), method: :get %></p>
  <div class="card__body">
<p class="sample_box11_subtitle"><%= link_to recipe.title, recipe_path(recipe.id), class: :card__title%>  
    <p> <class="card__summary">
      <p>カテゴリー：<%= link_to recipe.genre.name, "/recipes/genre/#{recipe.genre_id}", class: :card__summary%></p>
      <p>by：<%= recipe.user.name %>
      <% if user_signed_in? %>
      <%= render 'likes/like', recipe: recipe %></p>
      <% end %>
     </p>
  </div>
</div>
</div>
<% end %>
</div>
</div>